<div class="container" fxLayout="column">
<mat-card>

   <div fxLayout="row" fxLayoutAlign="center center">
      <div class="mat-card-title">{{listName|titlecase}}</div>
      <div (click)="show()"><mat-icon>create</mat-icon></div>
   </div>

   <div [hidden]="!showEdit" fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field>
      <input type="text" [(ngModel)]="listName" name="listName" matInput/>
   </mat-form-field>
      <mat-icon (click)="hide()">done</mat-icon>
   </div>

   <br>
   
   <div fxLayout="row" fxLayoutAlign="center center" class="mat-card-subtitle">{{count}}/{{totalItems}} items completed</div>

   <div fxLayout="column">
      <div>
         <mat-list>
           <mat-list-item [hidden]="todo.completed"  *ngFor="let todo of todos; let i=index"> 
            <div fxLayout="row" fxFlexFill>
             <div fxFlex fxLayoutAlign="start center"><mat-checkbox  [(ngModel)]="todo.completed" color="primary" (change)="counter()"></mat-checkbox></div>
             <div fxFlex fxLayoutAlign="center center"  [ngClass]="{'checked1': todo.completed}">{{ todo.newTodo }}</div>
             <div fxFlex fxLayoutAlign="end center"  (click)="deleteTodo(i)"><mat-icon matListIcon>delete_outline</mat-icon></div>
            </div>
           </mat-list-item>
         </mat-list>
      </div>

      <div fxLayoutAlign="center center">
         <form (submit)="addTodo($event)">
            <mat-form-field>
            <input type="text" placeholder="Enter to do item" [(ngModel)]="newTodo"  name="newTodo" matInput /> 
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Add new</button>
         
         </form>
      </div>
     
      <div [hidden]="newTodo" fxLayoutAlign="center center">
         Type in a new todo...
      </div>
     
      <div [hidden]="!newTodo" fxLayoutAlign="center center">
         Typing: {{ newTodo }}
      </div>
      
      <br>
   
      <div fxLayout="row" fxLayoutAlign="center center" class="mat-card-subtitle">{{count}} Completed Items</div>
   
      <div fxLayoutAlign="center center">
         <mat-list>
            <mat-list-item [hidden]="!todo.completed"  *ngFor="let todo of todos; let i=index">
               <mat-checkbox  [(ngModel)]="todo.completed" color="primary" (change)="counter()">
                  <span [ngClass]="{'checked1': todo.completed}">{{ todo.newTodo }}</span>
               </mat-checkbox>
            </mat-list-item>
         </mat-list>
      </div>
   
   </div>
</mat-card>
</div>
   




  