<div class="container">
<mat-toolbar  color="primary" fxLayoutAlign="center center">
  <span>LOGIN</span>
</mat-toolbar>
<mat-card>
<mat-card-subtitle>{{msg}}</mat-card-subtitle>
   <mat-card-content>
      <form  fxLayout="column"  fxLayoutAlign="center center">
         <mat-form-field>
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email" name="email" type="email" [(ngModel)]="loginUserData.email" required>
         </mat-form-field>
     
         <mat-form-field>
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password" name="password" type="password" [(ngModel)]="loginUserData.password" required>
         </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions  fxLayout="column" fxLayoutAlign="center center">
      <button  mat-raised-button  color="primary" type="submit" (click)="loginUser()">LOGIN</button><br>
      <mat-card-subtitle>Create a new account</mat-card-subtitle>
      <a mat-flat-button routerLink="/register" routerLinkActive="active">Sign up</a>
   </mat-card-actions>
</mat-card>
</div>