
<div class="container" fxLayout="column"  fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Log In</mat-card-title>
    <form fxLayout="column" fxFlexFill>
                 <mat-form-field >
                    <input type="text" placeholder="Enter email" [(ngModel)]="loginUserData.email" name="email" matInput required>
                 </mat-form-field><br>
                <mat-form-field>
                    <input type="password" placeholder="Enter password" [(ngModel)]="loginUserData.password" name="password" matInput required>
                </mat-form-field><br>
                <button fxFlex fxLayoutAlign="center end"type="submit" (click)="loginUser()" mat-raised-button color="primary">Login</button>
  </form>
  </mat-card>
</div>