
<mat-toolbar color="primary">
  <mat-toolbar-row>
     <span><a href="/special">Todo</a></span>
     <span fxFlex fxLayoutAlign="end center" ></span>
     <a  mat-button routerLink="/special" routerLinkActive="active"> Create Todo</a>
     <a  mat-button  *ngIf="!auth.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
     <a  mat-button  *ngIf="!auth.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
     <a  mat-button  *ngIf="auth.loggedIn()" (click)="auth.logoutUser()" routerLink="/login" routerLinkActive="active">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>  