<mat-toolbar color="primary">
  <mat-toolbar-row>
     <span>
      <a href="/special">Todo</a></span>
     <span fxFlex fxLayoutAlign="end center" >
     <a  mat-button routerLink="/special" routerLinkActive="active"> Create Todo</a>
     <a  mat-button  *ngIf="!auth.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
     <a  mat-button  *ngIf="!auth.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
     <a  mat-button  *ngIf="auth.loggedIn()" (click)="auth.logoutUser()" routerLink="/login" routerLinkActive="active">Logout</a>
    </span>
    </mat-toolbar-row>
</mat-toolbar>


 
<mat-sidenav-container>
  <mat-sidenav  mode="side" opened>
    <span fxLayout="column">
      
      <a  mat-button routerLink="/special" routerLinkActive="active"> Create Todo</a>
      <a  mat-button   routerLink="/about" routerLinkActive="active">About</a>
      <a  mat-button   routerLink="/contact" routerLinkActive="active">Contact</a>
   
     </span>

  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>

</mat-sidenav-container>
