
  <div class="container" fxLayout="column"  fxLayoutAlign="center center">
    <mat-card>
      <mat-card-title>Register</mat-card-title>
      <form fxLayout="column" fxFlexFill>
                   <mat-form-field >
                      <input type="text" placeholder="Enter email" [(ngModel)]="registerUserData.email" name="email" matInput required>
                   </mat-form-field><br>
                  <mat-form-field>
                      <input type="password" placeholder="Enter password" [(ngModel)]="registerUserData.password" name="password" matInput required>
                  </mat-form-field><br>
                  <button fxFlex fxLayoutAlign="center end"type="submit" (click)="registerUser()" mat-raised-button color="primary">Login</button>
    </form>
    </mat-card>
  </div>