  <div class="container">
    <mat-toolbar color="primary" fxLayoutAlign="center center">
      <span>Register</span>
    </mat-toolbar>
    <mat-card>
       <mat-card-content>
          <form  fxLayout="column"  fxLayoutAlign="center center">
             <mat-form-field >
                <mat-label>Email</mat-label>
                <input  matInput  placeholder="Email" name="email" type="email" [(ngModel)]="registerUserData.email" required>
             </mat-form-field>
         
             <mat-form-field >
                <mat-label>Password</mat-label>
                <input  matInput  placeholder="Password" name="password" type="password" [(ngModel)]="registerUserData.password" required>
             </mat-form-field>
          </form>
       </mat-card-content>
       <mat-card-actions  fxLayoutAlign="center center">
          <button  mat-raised-button  color="primary" type="submit" (click)="registerUser()">REGISTER</button>
       </mat-card-actions>
    </mat-card>
    </div>